

.margin{
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    height: 100vh;;
    
    
}

.p-card{
    border-color: black;
    border-radius: 5%;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(126, 106, 20, 0.3));
    align-items: center;
}

.EscSenha{
    text-decoration: none;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

p{
    text-align: right;
    margin: 2vh;
}

.hovered {
    color: rgb(145, 12, 12); 
  }